html {
    scrollbar-width: auto;
    background-color: rgb(20, 20, 20);
}
#p1{
    text-align:center;
}
#p2{
    text-align:center;
}
#p3{
    text-align: center;
}
#p4{
    text-align: center;
}
#p5{
    text-align: center;
}
#p6{
    text-align: center;
}
#p7 {
    text-align: center;
}
#p8{
    text-align: center;
}
